[apply]
  whitespace = fix # remove trailing whitespace
[log]
  date = iso-local
[color "diff"]
  whitespace = red reverse
[format]
  pretty = fuller
[push]
    default = current
[core]
    excludesFile = /Users/olabola/.gitignore_global
    pager = delta
[pull]
    rebase = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[merge]
  conflictStyle = zdiff3
  tool = smerge
[commit]
    verbose = true
[interactive]
    diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
  tool = nvimdiff
  colorMovedWS = allow-indentation-change
[fetch]
	prune = true
	pruneTags = true
	all = true
[mergetool "smerge"]
  cmd = smerge mergetool "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
  trustExitCode = true
